body {
  font: $font-size-base $font-global;
  line-height: 1.2;
  color: $color-black;
}

.app {
  background: #0b0e1d;

  &__container {
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
  }

  &__title {
    font-size: 30px;
    color: $color-white;
  }
}


